<!DOCTYPE html>
<html>

    <%- include('partials/head') %>

<body>
    <%- include('partials/header') %>

      <section>
        <img src="/images/img-home-banner.jpg" width=100% alt="Banner de ofertas">
    </section>
    <main>
        <section>

            <h3 class="titulares">Basado en tu última visita</h3>
            <div class="productos">

                <% products.forEach(product => { %>
                    <%- include('partials/product', { product }) %>
                <% })%>
                </div>
        </section>

        <section>

            <h3 class="titulares">Ofertas</h3>
            <div class="productos">
                <% products.forEach(product => { %>
                    <%- include('partials/product', { product }) %>
                <% })%>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>

</html>