<!DOCTYPE html>
<html>

<%- include('partials/head') %>

    <body>

        <%- include('partials/header') %>


            <section class="banner">
                <img src="/images/img-home-banner.jpg" alt="Banner de ofertas">
            </section>


            <main>
                <h3>Detalle de Producto</h3>
                <section>
                    <figure>
                        <img src="/images/<%= product.image %>" alt="" class="product_img">
                    </figure>
                    <div>
                        <div>
                        <h3>
                            <%= product.name %>
                        </h3>
                        <h3>$ <%= product.price %>
                        </h3>
                        <p>
                           % <%= product.descuento %>
                        </p>
                    </div>
                      
                        <a href="/products/<%= product.id %>/edit" >Editar</a>
        
                        <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
                            <button type="submit" >Borrar</button>
                        </form>
                    </div>
        
                </section>
        
            </main>
            <%- include('partials/footer') %>


    </body>

</html>