<!DOCTYPE html>
<html>

<%- include('partials/head') %>

    <body>

        <%- include('partials/header') %>


            
      <section>
        <img src="/images/img-home-banner.jpg" width=100% alt="Banner de ofertas">
    </section>


            <main class="main-del-detail">
                <h3>Detalle de Producto</h3>
                <section class="articulo-del-detail">
                    <figure>
                        <img src="/images/<%= product.image %>" alt="" class="product_img">
                    </figure>
                    <div class="datos-del-detail">
                        <div>
                        <h3>
                            <%= product.name %>
                        </h3>
                        <h3 class="precio-del-detail">$ <%= product.price %>
                        </h3>
                        <p class="descuento-del-detail">
                           <%= product.descuento %> %off
                        </p>
                    </div>
                      <div class="botones-del-edit">
                        <a class="a-del-detail"href="/products/<%= product.id %>/edit" >Editar</a>
        
                        <form class="boton-del-form-ditail" action="/products/<%= product.id %>?_method=DELETE" method="POST">
                            <button class="boton-del-detail" type="submit" >Borrar</button>
                        </form>
                    </div>
                </div>
        
                </section>
        
            </main>
            <%- include('partials/footer') %>


    </body>

</html>